:root {
    --dark-blue-100: hsl(222, 26%, 31%);
    --dark-blue-200: hsl(223, 31%, 20%);
    --dark-blue-300: hsl(224, 36%, 15%);

    --dark-blue-400: hsl(225, 21%, 49%);
    --dark-blue-500: hsl(224, 28%, 35%);

    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);

    --light-gray: hsl(30, 25%, 89%);
    --orange: hsl(28, 16%, 65%);

    --text-dark-blue: hsl(221, 14%, 31%);
    --text-white: #ffffff;

}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



.Container {
    background-color: var(--dark-blue-100);
    min-height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;
}

.Calculator--title {
    font-size: 1.5rem;
    color: var(--text-white);
}

.Calculator__display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width: 600px;
    background-color: var(--dark-blue-300) ;
    height: 100px;
    border-radius: 0.5rem;

    font-size: 2rem;
    color: var(--text-white);
    text-align: end;

    padding: 0 2rem;
}

.Calculator__keys{ 
    margin-top: 2rem;
    display: grid;
    gap: 0.75rem;

    grid-template-columns: repeat(4, 1fr);

    padding: 2rem;
    background-color: var(--dark-blue-200);
    border-radius: 0.5rem;

}

.Calculator__keys button {
    cursor: pointer;
    width: 100%;
    padding: 0.75rem ;
    color: var(--text-dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

button.Calculator__keys--reset, 
button.Calculator__keys--equal { 
    cursor: pointer;
    all: unset;
    font-size: 2rem;
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;
}

button.Calculator__keys--reset {
    grid-column: 1/3;
    background-color: var(--dark-blue-400);
    color: var(--text-white);
}
button.Calculator__keys--equal {
    grid-column: 3/5;
    background-color: var(--red);
    color: var(--text-white);
}

button.Calculator__keys--reset:active, 
button.Calculator__keys--equal:active { 
    transform: scale(1.03);
    outline: 1px solid white;
}

@media screen and (max-width: 1023px) {
    .Calculator {
        width: calc(100% - 2rem) ;
    }
    .Calculator__display {
        width: 100%;
        height: 60px;
        font-size: 1.5rem;
    }

    .Calculator__keys button {
        padding: 0.5rem;
    }
}